@import "bootstrap";

$red: #b71d21;
$grey: #4c4d4f;


body{
    background: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}


a:focus{
    outline: none;
}

.background-page{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: -4;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(#000, .6);
        width: 100%;
        height: 100%;
    }
}

.header{
    position: fixed;
    background: rgba(#FFF, .95);
    width: 100%;
    position: relative;

    .logo{
        width: 180px;
        padding: 5px 0;
    }

    .switch-lang{
        text-align: right;
        padding-top: 40px;
        li{
            display: inline-block;
            margin: 0 5px;

            &:before{
                content: '';
                height: 10px;
                width: 1px;
                margin-right: 7px;
                background: #000;
                display: inline-block;
            }

            &:first-child{
                &:before{
                    display: none;
                }
            }

            a{
                color: #000;
                font-size: 14px;

                &.active{
                    color: $red;
                }
            }
        }
    }

    .menu{
        position: absolute;
        padding-top: 20px;
        text-transform: uppercase;
        letter-spacing: .08em;



        li{
            display: inline-block;
            position: relative;


            .sub-menu{
                position: absolute;
                left: 0;
                padding-left: 0;
                width: 200px;
                padding: 15px;
                background: #FFF;
                border: 1px solid rgba(#000, .3);
                display: none;
                li{
                    a{
                        color: #000;
                        padding-left: 10px;
                        font-size: 12px;

                        &:hover{
                            color: $red;
                        }
                        &:before{
                            content: '';
                            width: 4px;
                            height: 4px;
                            background: $red;
                            display: inline-block;
                            margin-top: 5px;
                            left: 0;
                            margin-right: 5px;

                        }
                    }
                }
            }

            &:hover{
                .sub-menu{
                    display: block;
                }
            }
            a{
                color: #FFF;

                padding: 3px 15px;
                position: relative;
                @include transition(.3s);


                &:before{
                    content: '';
                    width: 1px;
                    height: 12px;
                    background: #FFF;
                    display: block;
                    font-size: 14px;
                    position: absolute;
                    margin-right: 10px;
                    top: 5px;
                }
            }

            &.current_page_item, &:hover{

                a{
                    position: relative;
                    color: $red;
                    text-decoration: none;
                    background: #FFF;
                }
            }
            &:first-child{
                a{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}


.page-container{
    &.home{
        margin-top: 150px;

        .intro-home{
            font-size: 18px;
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: .07em;
            line-height: 27px;
        }
    }
}

.nav-home{

    @media (min-width: 1090px) {
        position: fixed;
        top: 50%;
        @include translate(0, -50%);
    }
    li{
        display: block;
        margin-bottom: 15px;
        a{
            color: #FFF;
            font-size: 16px;
            text-transform: uppercase;
            @include transition(.3s);
            position: relative;

            &:before{
                content: '';
                display: inline-block;
                margin-right: 20px;
                width: 22px;
                height: 22px;
                left: -30px;
                top: -2px;
                background: $red;
                @include transition(.3s);
                position: absolute;
                z-index: -1;
            }

            &:hover{
                text-decoration: none;
                color: $red;

                &:before{
                    background: #FFF;
                    width: calc(100% + 20px);
                    left: -10px;
                    position: absolute;
                }
            }
        }
    }
}

.button-mobile{
    width: 20px;
    margin-top: 25px;
    z-index: 400;
    @include transition(.4s);
    position: relative;

    .barre{
        height: 3px;
        background: #FFF;
        border-radius: 4px;
        margin-bottom: 4px;
        @include transition(.4s);
    }
}

.footer-desk{
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    opacity: .9;
    margin-top: 30px;

    &.home{
        position: fixed;
        bottom: 50px;
        margin-top: 0;
    }

    a{
        color: #FFF;
        padding: 4px 6px;

        &:hover{
            background: #FFF;
            color: $red;
            text-decoration: none;
        }
    }
}

.white{
    color: #FFF
}

.background-white{
    background: #FFF;
    padding: 60px;
    position: relative;
    z-index: 3;

    .avatar{
        margin-bottom: 20px;
        display: block;
    }

    .button-back{
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 3;
        font-weight: 500;
        font-size: 14px;
        background: $red;
        color: #FFF;
        text-transform: uppercase;
        padding: 8px 10px;
        @include transition(.3s);
        border: 1px solid $red;
        &:hover{
            background: #FFF;
            color: $red;
            text-decoration: none;
        }
    }
}

.title{
    font-size: 18px;
    color: #FFF;
    position: relative;
    padding-left: 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;

    &:before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: $red;
        left: 0;
        top: 10px;
    }
}

.white{
    color: #FFF;
}

ul{
    li{
        display: block;
    }
}

.container-equipe{
    margin-top: -100px;
    height: calc(100vh - 123px);
    padding-top: 100px;
    overflow-y: auto;

    .item-equipe{
        margin-bottom: 30px;
        .image-avatar{
            max-width: 100%;
            width: auto;
            @include transition(.6s);
            &:hover{
                @include scale(1.08);
            }
        }

        .content-team{
            margin-top: 10px;
            .name{
                font-size: 19px;
                font-weight: 600;
                color: #FFF;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }

            .poste{
                color: #FFF;
                font-size: 14px;
            }

            .link-more{
                color: #FFF;
                font-size: 14px;
                display: block;
                margin-top: 10px;
                position: relative;
                padding-left: 16px;

                &:before{
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $red;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }

                &:hover{
                    color: $red;
                    text-decoration: none;
                }
            }
        }
    }
}

.info-avatar{
    border-left: 1px solid $red;
    padding-left: 15px;
    margin-bottom: 20px;
    .name{
        font-size: 18px;
    }

    .poste{
        font-size: 14px;
    }

    .sub-info{
        margin-top: 10px;

        p{
            font-size: 14px;
        }
    }
}

.content{
    font-size: 16px;
    text-align: justify;
}

body{
    overflow-x: hidden;
}

.content-wysiwyg{
    h2{
        font-size: 18px;
        color: #FFF;
        position: relative;
        padding-left: 20px;
        color: #FFF;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 20px;

        &:before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: $red;
            left: 0;
            top: 5px;
        }
    }

    p{
        font-size: 16px;
    }
}

.list-social{
    text-align: center;
    margin-top: 30px;
    padding-left: 0;
    margin-bottom: 30px;
    li{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #FFF;
        line-height: 40px;
        position: relative;
        background: #666;
        margin: 0 20px;
        svg{
            max-width: 30px;
            max-height: 20px;
            position: absolute;
            top: 50%;
            @include translate(-50%, -50%);
        }

        &:nth-child(2){
            svg{
                max-height: 13px;
                margin-top: -1px;
            }
        }
    }
}


.contact-form{
    max-width: 420px;
    label{
        font-size: 0;
        display: block;
        margin-bottom: 20px;
    }
    input{
        background: #9a947f;
        color: #FFF;
        border: 0;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        display: block;

        &:focus{
            outline: none;
        }
    }
    textarea{
        color: #FFF;
        font-size: 14px;
        background: #b6202a;
        border: 0;
        padding: 10px;
        width: 100%;
        resize: none;
        display: block;
        outline: none;

        &:focus{
            outline: none;
        }
    }

    input[type="submit"]{
        width: 180px;
        background: #FFF;
        text-align: center;
        padding: 10px;
        color: #b6202a;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        margin: 0 auto;
        display: block;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFF;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #FFF;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #FFF;
    }
}

@media (max-width: 980px) {
    .header{
        background: transparent;

        .container-logo{
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 240px;
            position: relative;
            z-index: 400;
        }
        .logo{
            width: 100%;
        }
        .switch-lang{
            padding-top: 20px;
            position: relative;
            z-index: 400;
            ul{
                padding-left: 0;

                li{
                    &:before{
                        display: none;
                    }

                    a{
                        color: #FFF;
                    }
                }
            }
        }
    }
    .header .menu{
        position: fixed;
        top: 0;
        padding-top: 120px;
        left: 0;
        background-image: url('../images/background-menu.jpg');
        background-size: cover;
        height: 100%;
        z-index: 300;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        @include transition(.5s);

        ul{
            padding-left: 0;
            li{
                display: block;
                margin: 20px 0;
                padding: 0 40px;

                a{
                    font-size: 17px;
                    color: #333;
                    font-weight: 500;
                    padding-left: 20px;
                    position: relative;
                    &:before{
                        display: none;
                    }

                    &.active:after, &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 10px;
                        height: 10px;
                        background: $red;
                        display: inline-block;
                        margin-right: 10px;
                        margin-left: 0;
                        top: 6px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .header .menu li{

        a{
            background: transparent !important;
        }

        &.current_page_item{
            a{
                color: #333;
            }
        }

        &.menu-item-has-children{
            a{
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    display: block;
                    background-size: 100%;
                    background-image: url('../images/arrow.png');
                    background-color: transparent;
                    right: -8px;
                    top: 11px;
                }
            }
        }

        .sub-menu{
            left: 0;
            display: block;
            border: 0;
            background: transparent;
            width: 100%;
            padding: 0;
            padding-left: 20px;
            display: block;
            position: relative;
            display: none;

            li{
                padding: 0;
                margin: 4px 0;

                a{
                    background: transparent;
                    color: #444;
                    font-size: 14px;

                    &:after{
                        display: none;
                    }

                    &:before{
                        margin-top: -1px;
                        background: #444;
                    }
                }
            }
        }
    }
}

.img-ref{
    max-width: 100%;
    margin-bottom: 20px;

    @include scale(1);
    @include transition(.4s);
    &:hover{
        @include scale(1.04);
    }
}

.container-site{
    max-width: 1170px;
}

@media (max-width: 980px) {

    .page-container.home .intro-home{
        display: none;
    }

    .menu-open{
        .header .menu{
            opacity: 1;
            visibility: visible;
        }

        .button-mobile{
            margin-top: 30px;
            .barre{

                &:nth-child(1){
                    @include rotate(45deg);
                }
                &:nth-child(2){
                    @include rotate(-45deg);
                    margin-top: -7px;
                }
                &:nth-child(3){
                    opacity: 0;
                }
            }
        }
    }

    .footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        .link-contact{
            color: #FFF;
            font-size: 18px;
            text-transform: uppercase;
            position: fixed;
            bottom: 0;
            background: #333;
            border-bottom: 3px #b71d21 solid;
            text-align: center;
            left: 0;
            width: 100%;
            padding: 10px 0;
            text-transform: uppercase;
            color: #FFF;
            font-size: 17px;
        }
    }

    .page-container.home{
        margin-top: 180px;
    }

    .nav-home li a:before{
        width: 11px;
        height: 11px;
        left: -22px;
        top: 5px;
    }

    .page-container.home.page-cms{
        margin-top: 10px;

        .background-white{
            width: calc(100% + 50px);
            margin-left: -25px;
            margin-top: 20px;
            margin-bottom: 70px;

            &:before{
                content: '';
                position: absolute;
                width: calc(100% + 40px);
                margin-left: -20px;
                left: 0;
                height: 50px;
                top: -10px;
                @include rotate(-2deg);
                background: #FFF;
            }
        }
    }

    .container-equipe{
        height: auto;
        overflow: hidden;
        margin-top: 0px;
        text-align: center;
        padding-top: 0;

        ul{
            padding-left: 0;
        }
    }

    .container-equipe .item-equipe .content-team .link-more{
        display: inline-block;
    }

    .container-equipe .item-equipe{
        margin-bottom: 35px;
    }

    .title{
        text-align: left;
    }

    .contact-footer{
        position: fixed;
        bottom: 0;
        background: #333;
        border-bottom: 3px $red solid;
        text-align: center;
        left: 0;
        width: 100%;
        padding: 10px 0;
        text-transform: uppercase;
        color: #FFF;
        font-size: 17px;
    }

    body{
        padding-bottom: 35px;
    }


    .nav-home li a{
        &:before{
            width: 11px;
            height: 11px;
            left: -22px;
            top: 5px;
        }

        &:hover{
            &:before{
                width: 11px;
                height: 11px;
                left: -22px;
                top: 5px;
            }
        }
    }

    .header .menu ul li a.active:after, .header .menu ul li a:after{
        margin-left: 5px;
        top: 8px;
    }
}
